# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\KUHAN Project\cpp-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
